/*  */
  

  
  /* .pricing__container_card:nth_child(2) {
    transform: scale(1.05);
    background: #242424;
  } */
  
  
 
  
  .pricing__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pricing__wrapper {
      width: 100%;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    /* margin: 0 auto; */
    background-color: #f5bad954;
    padding: 50px;
  }
  
  
  
  .pricing__container_cardInfo {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 24px;
    margin: 30px;
    align-items: center;
    align-items: center;
    color: #B91569;
    /* border: 1px solid #B91569 ; */
    background-color: white;
    box-shadow: #242424;
  }
  
  .pricing__container_cardInfo h3 {
    margin-bottom: 5px;
    font-size: 24px;
  }
  
  .pricing__container_cardInfo h4 {
    font-size: 40px;
    margin-top: 5px;
  }
  .pricing__container_cardInfo h5 {
    
    position: relative;
    bottom: 60px;
  }
  
  .pricing__container_cardInfo p {
    font-size: 14px;
    text-align: center;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 24px;
  }

  .hr{
      color: #B91569;
      width: 100%;
      border: 1px solid #B91569;
  }
  
 
  .pricingLi{
      list-style: none;
      padding: 10px;
      text-align: center;
      justify-content: center;
      
      
  }

  .pricingLi li{
      margin-bottom: 10px;
      font-weight: bold;
  }
  
  
  
  .icon {
    margin-top: -60px;
    border: 2px solid white;
    background-color: white;
    padding: 30px;
    border-radius: 150px;
    /* width: 100px; */
    /* height: 100px; */
    align-items: center;
    text-align: center;
    color: #B91569;

  }
  
  @media screen and (max-width: 700px) {
    .pricing__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .pricing__container_card {
      width: 100%;
    }
  
    .pricing__wrapper {
      /* margin: 0 30px; */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .pricing__container_cardInfo{
        width: 100%;
    }
    
  }
  .btn {
    padding: 10px;
    width: 100px;
    margin-top: 30px;
    
    border: none;
    border-color: #b91569;
    border-radius: 8px;
    box-shadow: none;
    background-color: #b91569;
    color: white;
    outline: none !important;
  }
  .btn:hover{
    background-color: transparent;
    border: 1px solid white;
    color: #b91569;
    font-weight: bold;
  }